body {
    margin-top: 10px;
    background-image: url('Images/sky.jpg');
    background-position: fixed;
    background-size: cover;
    background-repeat: no-repeat;
}

canvas {
    border: 1px solid black;
    background-image: url('Images/background.jpg');
    cursor: none;
}

.plant {
    background-image: url('Images/grass.png');
    background-size: cover;
    background-repeat: no-repeat;
}

.herbivore {
    background-image: url('Images/zebra.png');
    background-size: cover;
    background-repeat: no-repeat;
}

.carnivore {
    background-image: url('Images/lion.png');
    background-size: cover;
    background-repeat: no-repeat;
}

#messages {
    height: 600px;
    overflow-y: auto;
    background-color: #cecece9a;
    border-radius: 15px;
    border: 5px solid rgb(44, 21, 0);
}

#currentCounts {
    margin-top: 20px;
    padding: 10px;
    background-color: #cecece9a;
    border-radius: 15px;
    border: 5px solid rgb(44, 21, 0);
}

#crosshair {
    height: 50px;
    width: 50px;
    position: absolute;
    display: none;
    cursor: none;
}
.w-100
{
    border-radius: 15px;
    border: 10px solid rgb(44, 21, 0);
}
.herbivoreBox
{
    width: 40px;
    border: 0px;
    border-radius: 5px;
}
.carnivoreBox
{
    width: 40px;
    border: 0px;
    border-radius: 5px;
}
.addAnimals
{
    width: 150px;
    height: 40px;
    border: 0px;
    border-radius: 5px;
    background-color:rgb(0, 80, 7);
    color: white;
}
.resetSimulation
{
    width: 150px;
    height: 40px;
    border: 0px;
    border-radius: 5px;
    background-color:rgb(0, 80, 7);
    color: white;
}
.herbscarns
{
    margin-top:15px;
    margin-left:100px;
}
.buttons
{
    margin-top:15px;
    margin-left:150px;
}